*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item {
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
  }


  .container{
    background-color: #ccc;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    gap: 10px 15px;
    /* grid-template-rows: 1fr 2fr 1fr; */
    grid-template-rows: 1fr 2fr;
    overflow: hidden;
    
  }