@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  background-color: #b9b9b9;

  .login-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .login {
      font-family: Lato, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #d5f2ee;
      width: 35%;
      padding: 3rem;
      border-radius: 20px;
      box-shadow: 16px 13px 25px -4px rgba(77, 77, 77, 0.4);
      input {
        width: 90%;
        padding: 0.3rem;
        margin: 5px 0 20px 0;
        border-radius: 5px;
        border: none;
      }
      .btn {
        margin-top: 10px;
        background-color: #5787f2;
        border: none;
        width: 50%;
      }
    }

    .image {
      width: 50%;
      padding: 2rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .login-panel {
    display: flex;
    flex-direction: column;
    .image {
      svg {
        display: none;
      }
    }
  }
}
